.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* custome codes */
.header-img:hover {
  /* filter: brightness(0) saturate(100%) invert(76%) sepia(44%) saturate(1677%) hue-rotate(2deg) brightness(103%) contrast(102%);
   */

  filter: invert(40%) sepia(64%) saturate(6805%) hue-rotate(212deg) brightness(104%) contrast(103%);
}

.nav-link {
  border-radius: 7px;
}

header .nav-link:hover {
  background-color: rgba(13, 110, 253, 1);
  color: rgba(255, 255, 255, 1) !important;
}